<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes - Geografree</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>
<body>
    <div class="navbaroutside">
        <div class="navbar">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('quizzes') }}">Quizzes</a>
            <a href="{{ url_for('leaderboard') }}">Leaderboard</a>
            <a href="{{ url_for('profile') }}">Profile</a>
                
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>

        {% if current_user.is_authenticated %}
            <div class="authenticated">
                <a href="{{ url_for('logout') }}">Logout</a>
                <a class="userdisplay">{{ current_user.username }}</a>
                <img id="favourite-flag" class="favourite-flag" src="" alt="Favourite Flag">
            </div>
        {% endif %}
    </div>

    <div class="container">
        <h1 class="page-title">QUIZZES</h1>
        <div class="quiz-categories">
            <button onclick="location.href='/countries'">COUNTRIES</button>
            <button onclick="location.href='/capitals'">CAPITALS</button>
            <button onclick="location.href='/borders'">BORDERS</button>
            <button onclick="location.href='/languages'">LANGUAGES</button>
            <button onclick="location.href='/rivers'">RIVERS</button>
            <button onclick="location.href='/flags'">FLAGS</button>
        </div>
        <div class="search-container">
            <input type="text" id="quiz-search" placeholder="TYPE TO SEARCH FOR A QUIZ" onkeypress="handleKeyPress(event)">
            <button onclick="searchQuizzes()" class="search-btn"></button>
        </div>
        <div id="search-results"></div>

    </div>

    <script>

        function handleKeyPress(event) {
            if(event.key === 'Enter') {
                searchQuizzes();
            }
        }
        
        function searchQuizzes() {
            var input = document.getElementById('quiz-search').value.trim();
            if (input) {
                window.location.href = "{{ url_for('search_results') }}?search=" + encodeURIComponent(input);
            }
        }

    </script>
</body>
</html>
